<h1>広告詳細画面</h1>

<h2>広告名：<%= ad.name %></h2>
<div class="">
  <%= image_tag ad.picture.url, height: "250", width: "250" %>
</div>

<%= link_to "削除", "/delete/#{ad.id}", data: { confirm: "本当に削除しますか？"} %>
<%= link_to "効果測定", "/report?id=#{ad.id}" %>

<div class="">
  <%= render "analytics_report", { ad: ad } %>
</div>
