<div id="ad_show">
  <h1>広告詳細画面</h1>
  <table border="1">
    <tr>
      <th>クリエイティブ</th>
      <th>サイズ</th>
      <th>広告名</th>
      <th>入稿日</th>
      <th></th>
    </tr>
    <tr>
      <td><%= image_tag ad.picture.url, height: "200", width: "240" if ad.picture? %></td>
      <td>300px × 250px</td>
      <td><%= ad.name %></td>
      <td><%= ad.created_at.strftime("%Y-%m-%d") %></td>
      <td><%= link_to "削除", "/delete/#{ad.id}", data: { confirm: "本当に削除しますか？"} %></td>
    </tr>
  </table>

  <div class="">
    <%= render "analytics_report", { ad: ad } %>
  </div>
</div>
