<!DOCTYPE html>
<html>
  <head>
    <title>Ad System</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
      <%= link_to "Ad System", root_path, class: "navbar-brand js-scroll-trigger" %>
      <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <%= link_to "トップ", root_path, class: "nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" %>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <%= link_to "広告一覧", ads_path, class: "nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" %>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <%= link_to "広告入稿", ad_new_path, class: "nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" %>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
